.filter-form {
    border: 1px solid black;
    margin: 100px;
    background-color:rgb(240, 243, 212);
    border-radius: 5px;
    box-shadow: 0 0 10px;
}

#search-bar {
    border: 1px solid black;
    border-radius: 2px;
    height: 20px;
}