body {
    background-color:rgb(164, 170, 107);
    font-family: 'Josefin Slab', serif;
    padding: 2em;
}

h1 {
    text-align: center;
    font-size: 2.3em;
}

#app {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    list-style-type: none;
    border: 2px solid black;
    background-color: white;
    border: 2px double black;
    font-size: 1.5em;
    border-radius: 5%;
    box-shadow: 0 0 10px;
    margin: 100px;
    
}

.checkbox {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
}

button {
    background: none;
    border: none;
}

li {
    border: 1px solid black;
    margin: 10px;
    margin-right: 40px; 
    border-radius: 5px;
    box-shadow: 0 0 10px;
}

#completedText{
    font-size: .7em;
}

.remove-button {
    position: relative;
    float: right;
}

#search-bar {
    margin: 20px;
}